body {
  font-family: Arvo, serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Arvo, serif;
}

a.brand {
  color: #000;
}

a.brand:hover {
  color: none;
  text-decoration: none; 
}

a:hover {
  text-decoration: none;
}

.avatar {
  height: 128px;
  border-radius: 200px;
}

body {
  background-color: #eeeeee;
}

header {
  padding-top: 35%;
}


.text-light {
  color: #FFF;
}
