a.brand, a.post {
  font-weight: inherit;
  color: inherit;
}

a.brand:hover, a.post:hover {
  text-decoration: none;
  color: #39C;
  cursor: pointer;
}

section {
  margin-top: 10%;
}

@media (max-width: 767px) {
  section {
    margin: inherit;
  }
}
