body {
  font-family: Arvo, serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Arvo, serif;
}

a.brand {
  color: #000;
}

a.brand:hover {
  color: none;
  text-decoration: none; 
}

.posts {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
