<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Philip Reichenberger</title>
    
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/core.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
  </head>
  <body>
    <div class="container" id="wrapper">
      <div class="row">
        <div class="col col-lg-3 sidebar">
          <header>
            <h2><a class="brand" href="/">Philip Reichenberger</a></h2>
            <p>Late night product builder and occasional pirate ship captain.</p>
            <p>
              <a href="http://www.twitter.com/preichenberger">
                <span class="icon-stack">
                  <i class="icon-circle icon-stack-base"></i>
                  <i class="icon-twitter icon-light"></i>
                </span> 
              </a>
              <a href="http://www.github.com/preichenberger">
                <span class="icon-stack">
                  <i class="icon-circle icon-stack-base"></i>
                  <i class="icon-github icon-light"></i>
                </span>
              </a>
              <a href="mailto:hello@philipreichenberger.com">
                <span class="icon-stack">
                  <i class="icon-circle icon-stack-base"></i>
                  <i class="icon-envelope icon-light"></i>
                </span> 
              </a>
              <a href="http://www.linkedin.com/pub/philip-reichenberger/a/6b0/546"/>
                <span class="icon-stack">
                  <i class="icon-circle icon-stack-base"></i>
                  <i class="icon-linkedin icon-light"></i>
                </span> 
              </a>
            </p>
          </header>
        </div>
        <div class="col col-lg-9">
          <section>
            {{content}}
          </section>
        </div>
      </div>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35395372-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
