<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Philip Reichenberger</title>
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/core.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
  </head>
  <body>
    <div class="container" id="wrapper">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <header class="text-center">
            <h3>
              <a class="brand" href="/">
                <img class="avatar" src="https://secure.gravatar.com/avatar/a30359656f49e61014aa85c5ca53f5f9?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="Philip Reichenberger"/>
              </a>
            </h3>
            <h3>Philip Reichenberger</h3>
            <p>Late night product builder and occasional pirate ship captain. Previously at Shutterstock and Mirthly.</p>
            <p>
              <a href="http://www.twitter.com/preichenberger">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter text-light fa-stack-1x"></i>
                </span> 
              </a>
              <a href="http://www.github.com/preichenberger">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github text-light fa-stack-1x"></i>
                </span>
              </a>
              <a href="mailto:preichenberger@philcolabs.com">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope text-light fa-stack-1x"></i>
                </span> 
              </a>
              <a href="http://www.linkedin.com/in/philipreichenberger"/>
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin text-light fa-stack-1x"></i>
                </span>
              </a>
            </p>
          </header>
        </div>
      </div>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35395372-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
